@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

:root {
  --primary-blue: #1992D4;
  --primary-yellow: #F0B429;
  --main-background: #E2E8F0;
  --secondary-content: #858585;
}

html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
}

svg {
  width: 50px;
  height: 50px;
  fill: white;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Header */
header {
  background-color: #FFF;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: auto auto;
  align-items: center;
}

.searchbar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

/* Profile Info Section */
.profile-info {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.profile-info svg {
  width: 25px;
  height: 25px;
  fill: #000;
}

/* Welcome Section */
.welcome-user {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 16px;
}

.welcome-user img {
  grid-row: 1 / 3;
}

.welcome-user .user-name {
  grid-column: 2 / 3;
}
/* Sidebar */
.sidebar {
  background-color: var(--primary-blue);
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

/* Projects */
.projects {
  grid-row: 2 / -2;
  grid-column: 2 / -2;
}

/* Announcement & Trending Sections */
.announcements,
.trending {
  margin: 24px 24px;
}

.announcements h2,
.trending h2 {
  align-self: start;
  font-weight: 500;
  margin-bottom: 16px;
}

/* Announcements */
.announcements {
  grid-column: -2 / -1;
  display: grid;
  grid-template-rows: min-content 480px;
}

.announcements-items {
  background-color: #FFF;
  border-radius: 16px;
  padding: 32px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcements-items .item .title {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 8px;
}
.announcements-items .item .content {
  color: var(--secondary-content);
}

/* Trending */
.trending {
  grid-column: -2 / -1;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.trending-items {
  background-color: #FFF;
  border-radius: 16px;
  padding: 32px;
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}

.trending-items .item {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  column-gap: 16px;
}

.trending-items .item .user-name {
  align-self: center;
}

.trending-items .item img {
  grid-row: 1 / 3;
  width: 50px;
  height: 50px;
}

.trending-items .item .summary {
  grid-column: 2 / 3;
  color: var(--secondary-content);
}

/* Footer */
footer {
  background-color: var(--main-background);
  grid-row: -2 / -1;
  grid-column: 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding: 0 8px; */
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  color: black;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}